:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*---------------*/
/* Global styles */
/*---------------*/

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*------------------*/
/* Component styles */
/*------------------*/

.leftSidebar {
  display: flex;
  width: 20vw;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: #141414;
  color: #fff;
  height: 100vh;
}

.leftSidebarToggle {
  display: none !important;
}

.rightSidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #141414;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  overflow: visible;
}

.resize-handle {
  position: absolute;
  left: -2vw; /* outside the sidebar */
  top: 45vh;
  width: 2vw;
  height: 5vh;
  cursor: ew-resize;
  color : #fff;
  background-color: #fff;
}

.rightSidebarToggle {
  position: fixed;
  right: 1vw;
  top: 1vh;
  background-color: #222;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 20;
}


.bottomBar {
  flex: 0 0 10vh;
  background-color: #141414;
  position: fixed;
  bottom: 0;
  left: 20vw;
  right: 0vw;
  height: 60px;
  z-index: 100;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

/*----------------------*/
/* Page specific styles */
/*----------------------*/

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 20vw;
  margin-right: 20vw;
}

.songSubmitForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 20vw;
}

/*-----------------------*/
/* Exceptions for mobile */
/*-----------------------*/

@media (max-width: 768px) {
  .rightSidebar {
    width: 40vw !important;
    right: 0;
  }

  .leftSidebar {
    width: 40vw !important;
    left: 0;
  }

  .resize-handle {
    display: none;
  }

  .leftSidebarToggle {
    display: block !important;
    position: fixed;
    left: 1vw;
    top: 1vh;
    background-color: #222;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 20;
  }

  .bottomBar {
    width: 100vw !important;
    left: 0 !important;
  }
}
